.main-input{
    box-sizing: border-box;
    font-size: 30px;
    border: 5px solid black;
    height: 50px;
    width: 100%; /*Usando de referência o pai, que no caso é o form */
    padding-left: 5px;  /*faz um respiro nas palavras digitadas pelo usuário*/
    padding-right: 5px;
}